.depoimento{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.depoimento-text{
    display: flex;
    flex-direction: column;
    width: 30vw;
    text-align: left;
    margin-left: 5rem;
    align-items: center;
}


.depoimento-text h1{
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-out;
}

.depoimento-text h1.animate {
    opacity: 1;
    transform: translateY(0);
}

.depoimento img{
    width: 40vw;
    height: 55vh;

/*     filter: drop-shadow(-40px -40px 0px #20bf55); */
    margin-left: 10rem;
}

@media (max-width:1024px){
    .depoimento{
        flex-direction: column ;
    }

    .depoimento-text{
        width: auto;
        margin-left: 4rem;
        margin-right: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .depoimento-text button{
        margin-top: 4rem;
        margin-left: 0;
    }

    .depoimento img{
        width: 60rem;
        height: 30rem;
        margin: 0;
    }

}


/* Responsividade para tablets */
@media (max-width: 768px) {
    .depoimento {
        flex-direction: column;
        height: auto;
    }

    .depoimento-text {
        width: 80%;
        text-align: center;
        margin: 0;
    }

    .depoimento img {
        width: 80%;
        margin: 0 auto;
        height: auto;
    }

    .depoimento-text h1 {
        font-size: 2rem;
    }

    .depoimento-text p {
        font-size: 0.9rem;
        margin-left: 0;
        text-align: left;
    }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 480px) {
    .depoimento-text h1 {
        font-size: 1.8rem;
    }

    .depoimento-text p {
        font-size: 0.8rem;
        line-height: 1.4;
    }

    .depoimento img {
        width: 100%;
        box-shadow: none;
    }
}